body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd7dd;
}


.strike-through {
    text-decoration: line-through;
    color: #6c757d !important; 
}

.completed-task {
    background-color: #f8f9fa; 
}


.high-priority {
    font-weight: bold;
    color: #dc3545; 
}

.medium-priority {
    color: #ffc107; 
}

.low-priority {
    color: #198754; 
}
